@model IEnumerable<ContactsPrj.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModalCenter">
        Добавить
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeModalCenter" onclick="ConfirmChange('@item.Name', @item.MobilePhone, '@item.JobTitle', '@item.BirthDate', @item.Id)">
                        Изменить
                    </button> |
                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="ConfirmDelete(@item.Id)">
                        Удалить
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- addModal -->
<form asp-action="CreateNew" class="needs-validation" novalidate>
    <div class="modal fade" id="addModalCenter" tabindex="-1" role="dialog" aria-labelledby="addModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLongTitle">Добавить</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="position-relative">
                            <label for="validationName" class="form-label">Имя</label>
                            <input class="form-control my-1" placeholder="Имя" type="text" id="name" name="Name" required />
                            <div class="invalid-tooltip">
                                Введите имя контакта.
                            </div>
                        </div>
                        <div class="position-relative">
                            <label for="validatioPhone" class="form-label">Телефон</label>
                            <input class="form-control my-1" placeholder="Телефон" type="tel" id="number" name="MobilePhone" required pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$"/>
                            <div class="invalid-tooltip">
                                Введите корректный телефонный номер.
                            </div>
                        </div>
                        <div class="position-relative">
                            <label for="validationJob" class="form-label">Должность</label>
                            <input class="form-control my-1" placeholder="Должность" type="text" id="jobTitle" name="JobTitle" required oninput="validateJobAdd()" pattern="^[a-zA-ZА-Яа-я _]+$"/>
                            <div class="invalid-tooltip">
                                <p id="invalidJobAdd" class="m-0"></p>
                            </div>
                        </div>
                        <div class="position-relative">
                            <label for="validationBirth" class="form-label">Дата рождения</label>
                            <input class="form-control my-1" placeholder="Дата рождения" type="date" id="birthDate" name="BirthDate" required />
                            <div class="invalid-tooltip">
                                Введите дату рождения.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" onclick="validateJobAdd()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- changeModal -->
<form asp-action="Change" class="needs-validation" novalidate>
    <div class="modal fade" id="changeModalCenter" tabindex="-1" role="dialog" aria-labelledby="changeModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeModalLongTitle">Изменить</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="hide" type="hidden" id="idToEdit" name="Id" />
                        <div class="position-relative">
                            <label for="validationName" class="form-label">Имя</label>
                            <input class="form-control my-1" placeholder="Имя" type="text" id="nameToEdit" name="Name" required />
                            <div class="invalid-tooltip">
                                Введите имя.
                            </div>
                        </div>
                        <div class="position-relative">
                            <label for="validationPhone" class="form-label">Телефон</label>
                            <input class="form-control my-1" placeholder="Телефон" type="tel" id="numberToEdit" name="MobilePhone" required pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$"/>
                            <div class="invalid-tooltip">
                                Введите корректный телефонный номер.
                            </div>
                        </div>
                        <div class="position-relative">
                            <label for="validationJob" class="form-label">Должность</label>
                            <input class="form-control my-1 jobValidate" placeholder="Должность" type="text" id="jobTitleToEdit" name="JobTitle" required oninput="validateJobEdit()" pattern="^[a-zA-ZА-Яа-я _]+$"/>
                            <div class="invalid-tooltip">
                                <p id="invalidJobEdit" class="m-0"></p>
                            </div>
                        </div>
                        <div class="position-relative">
                            <label for="validationBirth" class="form-label">Дата рождения</label>
                            <input class="form-control my-1" placeholder="Дата рождения" type="date" id="birthDateToEdit" name="BirthDate" required />
                            <div class="invalid-tooltip">
                                Введите дату рождения.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" onclick="validateJobEdit()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- deleteModal -->
<div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLongTitle">Добавить</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены что хотите удалить?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-danger" onclick="DeleteContact()">Удалить</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="hiddenContactId" />
</div>

<script>
    var ConfirmDelete = function (ContactId) {
        $("#hiddenContactId").val(ContactId);
        $("#deleteModalCenter").modal('show');
    }
    var ConfirmChange = function (Name, Phone, JobTitle, BirthDate, Id) {
        $("#nameToEdit").val(Name);
        $("#numberToEdit").val(Phone);
        $("#jobTitleToEdit").val(JobTitle);
        $("#idToEdit").val(Id);

        var stringdate = BirthDate.substring(6, 10) + "-" + BirthDate.substring(3, 5) + "-" + BirthDate.substring(0, 2);
        console.log(stringdate);
        $("#birthDateToEdit").val(stringdate);

        console.log("edit begin successeful");
    }

    var DeleteContact = function () {
        console.log("x")
        var hidId = $("#hiddenContactId").val();

        $.ajax({

            type: "POST",
            url: "/Contacts/Delete",
            data: { id: hidId },
            success: function (result) {
                $("#deleteModalCenter").modal("hide");
                $("#row_" + hidId).remove();
            }
        })
    }
    //validating
    function validateJobAdd() {
        //invalidJob
        var x = document.getElementById('jobTitle');
        jobValidate(x);
    }
    function validateJobEdit() {
        //invalidJob
        var x = document.getElementById('jobTitleToEdit');
        jobValidate(x);
    }
    function jobValidate(x) {
        var text = '';
        if (x.validity.valueMissing) {
            console.log('ПУСТО');
            text = "Заполните поле.";
        }
        if (x.validity.patternMismatch) {
            console.log('Текст ' + x.value + ' не норм');
            text = "Введите должность";
        }
        console.log(text);

        if (x === document.getElementById('jobTitle'))
            $("#invalidJobAdd").text(text);
        else
            $("#invalidJobEdit").text(text);
    }

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>